<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemoSuite" parallel="methods" thread-count="8">
    <test name="Firefox_Desktop_LoginTests">
        <parameter name="browser" value="FIREFOX" />
        <parameter name="device" value="DESKTOP" />
        <classes>
            <class name="org.example.SauceDemoSuite"/>
        </classes>
    </test>
    <test name="Chrome_Tablet_LoginTests">
        <parameter name="browser" value="CHROME" />
        <parameter name="device" value="TABLET" />
        <classes>
            <class name="org.example.SauceDemoSuite"/>
        </classes>
    </test>
</suite>