<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemoSuite" parallel="methods" thread-count="8">
    <test name="LoginTestsFirefox">
        <parameter name="browser" value="FIREFOX" />
        <classes>
            <class name="org.example.SauceDemoSuite"/>
        </classes>
    </test>
    <!-- <test name="LoginTestsChrome">
        <parameter name="browser" value="CHROME" />
        <classes>
            <class name="org.example.VisualUserLoginTest"/>
        </classes>
    </test> -->
</suite>